# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
*.pyc
*.pyo
*.pyd

# Environments
venv/
env/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# Static/Media
staticfiles/
media/

# dotenv
.env
